In [1]:
from scipy.stats import chisquare
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 데이터1

In [2]:
df_2 = pd.read_csv('/content/drive/MyDrive/jeju_raw_data/tourist_info.csv')

In [3]:
df_2['테마'][0]

'#섬속의섬 #경관/포토 #아이\n#맑음 #자연경관 #포토스팟 #어린이 #봄꽃 #유채꽃 #유네스코'

In [4]:
arr = '#섬속의섬 #경관/포토 #아이#맑음 #자연경관 #포토스팟 #어린이 #봄꽃 #유채꽃 #유네스코'
arr = arr.replace(' ','')
arr = arr.split('#')
arr = arr[1:]
arr

['섬속의섬', '경관/포토', '아이', '맑음', '자연경관', '포토스팟', '어린이', '봄꽃', '유채꽃', '유네스코']

In [5]:
arr = []
for i in df_2['테마']:
  i = i.replace(' ','')
  i = i.replace('\n','')
  arr.append(i.split('#')[1:])
df_2['테마'] = arr
df_2.head()

,Unnamed: 0,관광 명소,주소,테마
0,0,우도,제주특별자치도 제주시 우도면 삼양고수물길 1,"[섬속의섬, 경관/포토, 아이, 맑음, 자연경관, 포토스팟, 어린이, 봄꽃, 유채꽃..."
1,1,성산일출봉,제주특별자치도 서귀포시 성산읍 일출로 284-12,"[일출, 오름, 경관/포토, 부모, 자연경관, 포토스팟, 유네스코]"
2,2,사려니숲길,제주특별자치도 제주시 조천읍 교래리 산 137-1,"[숲길, 걷기/등산, 친구, 커플, 흐림, 봄, 자연경관, 도보여행, 도보, 숲, 단풍]"
3,3,카멜리아힐,제주 서귀포시 안덕면 병악로 166,"[경관/포토, 커플, 아이, 맑음, 겨울, 힐링, 우수관광사업체, 자연경관, 포토스..."
4,4,협재해수욕장,제주특별자치도 제주시 한림읍 한림로 329-10,"[일몰, 해수욕장, 액티비티, 아이, 맑음, 여름, 자연경관, 체험, 레저/체험, ..."

In [6]:
index_list = []
for i, v in enumerate(df_2['테마']):
  if '전통' in v:
    index_list.append(i)
index_list

[]

# 데이터 정리

## 1.여행테마

### 1-1. 역사테마 history

In [23]:
history = []
hist = ['4.3', '너븐숭이', '문화', '문화관광', '문화유적지', '역사유적', '신나락만나락', '사찰', '절', '토기', 
        '제주4.3', '전통', '신화탐방로', '북촌','유적']

for i in df_2['테마']:
  result_1 = 0
  result_2 = 0
  result_3 = 0
  result_4 = 0
  result_list = []
  result = 0
  for j in i:
    if j in hist:
      if j == '문화' or j == '문화관광' or j == '문화유적지' or j == '전통':
        result_1 += 1
      elif j == '4.3' or j == '제주4.3' or j == '너븐숭이' or j == '북촌':
        result_2 += 1
      elif j == '신나락만나락' or j == '신화탐방로':
        result_3 += 1
      elif j == '역사유적' or j == '토기' or j == '유적':
        result_4 += 1
      else:
        result += 1
  
  result_list.append(result_1)
  result_list.append(result_2)
  result_list.append(result_3)
  result_list.append(result_4)

  for x in result_list:
    if x > 0:
      result += 1
  history.append(result)

print(set(history))
print(len(history))

{0, 1, 2, 3, 4}
1096

### 1-2. 미래테마 future 날림

In [ ]:
# future = []
# fut = '6차산업'
# for i in df_2['테마']:
#   if fut in i:
#     future.append(1)
#   else:
#     future.append(0)
# print(set(future))
# print(len(future))

### 1-3. 자연테마 nature

In [14]:
# 밤은 보통 야경을 말하는 거 같아서 자연이라는 테마와 안 어울리는거 같아 뺐습니다. (차)
nature = []
nat = ['경관/포토', '생태', '생태문화', '야영장', '세계자연유산', '숲길', '캠핑장','일몰', 
       '일몰명소', '일출', '제주동백수목원', '코스모스', '자연경관', '체험전시', '유네스코', 
       '유채꽃', '폭포', '한옥', '효돈천', '캠핑', '해바라기', '계곡', '숲', '노천탕', 
       '오름', '동굴', '글램핑', '동백나무', '동백', '매화','억새','용천수']

for i in df_2['테마']:
  result_1 = 0
  result_2 = 0
  result_3 = 0
  result_4 = 0
  result_list = []
  result = 0
  for j in i:
    if j in nat:
      if j == '일몰' or j == '일몰명소' or j == '일출':
        result_1 += 1
      elif j == '경관/포토' or j == '생태' or j == '생태문화' or j == '세계자연유산' or j == '자연경관'\
       or j == '유네스코':
        result_2 += 1
      elif j == '야영장' or j == '캠핑장' or j == '캠핑' or j == '글램핑':
        result_3 += 1
      elif j == '제주동백수목원' or j == '동백나무' or j == '동백':
        result_4 += 1
      else:
        result += 1
  
  result_list.append(result_1)
  result_list.append(result_2)
  result_list.append(result_3)
  result_list.append(result_4)

  for x in result_list:
    if x > 0:
      result += 1
  nature.append(result)
print(set(nature))
print(len(nature))

{0, 1, 2, 3, 4, 5}
1096

### 1-4. 포토테마 photo

In [15]:
photo = []
pho = ['커플스냅', '우정스냅', '포토스팟']
for i in df_2['테마']:
  result = 0
  for j in i:
    if j in pho:
      result += 1
  photo.append(result)
print(set(photo))
print(len(photo))

{0, 1, 2}
1096

### 1-5. 도보여행테마 walk

In [16]:
walk = []
dobo = ['도보','도보여행', '마을산책', '마을관광', '산책로']

for i in df_2['테마']:
  result_1 = 0
  result_2 = 0
  result_3 = 0
  result_list = []
  result = 0
  for j in i:
    if j in dobo:
      if j == '도보' or j == '도보여행':
        result_1 += 1
      elif j == '마을관광' or j == '마을산책':
        result_2 += 1
      elif j == '산책로':
        result_3 += 1
  result_list.append(result_1)
  result_list.append(result_2)
  result_list.append(result_3)

  for x in result_list:
    if x > 0:
      result += 1
  walk.append(result)
print(set(walk))
print(len(walk))

{0, 1, 2}
1096

### 1-6. 예술테마 art

In [17]:
art = []
ar = ['미술관', '미술/박물관', '미술', '미디어아트', '예술', '아트', '전시', '전시/행사',
      '전시관', '전시와행사', '뮤지컬', '연극']

for i in df_2['테마']:
  result_1 = 0
  result_2 = 0
  result_list = []
  result = 0
  for j in i:
    if j in ar:
      if j == '미술관' or j == '미술/박물관' or j == '전시' or j == '전시/행사' or j == '전시관'\
       or j == '전시와행사':
        result_1 += 1
      elif j == '미술' or j == '예술' or j == '미디어아트' or j == '아트':
        result_2 += 1
      else:
        result += 1
  
  result_list.append(result_1)
  result_list.append(result_2)

  for x in result_list:
    if x > 0:
      result += 1
  art.append(result)

print(set(art))
print(len(art))

{0, 1, 2}
1096

### 1-7.반려동물테마 pet 날림

In [ ]:
# pet = []
# pe = '애견동반'

# for i in df_2['테마']:
#   if pe in i:
#     pet.append(1)
#   else:
#     pet.append(0)
# print(set(pet))
# print(len(pet))

{0, 1}
1096

## 2.활동테마

### 2-1.육상활동 activity_landleisure

In [18]:
activity_landleisure = []
al = ['ATV', '골프', '걷기/등산', '걷기', '내창트레킹', '농촌체험마을', '드라이브', '동물먹이주기', 
      '등산', '레이싱', '메디컬요가', '승마', '빈야사요가', '지질트레일', '요가', 
      '트레킹', '카트', '자전거', '체험', '체험관광', '체험여행', '테랍툴요가', 
      '플라잉요가', '하타요가', '체험', '해안산책', '테마파크', '테마공원', '어트랙션']

for i in df_2['테마']:
  result_1 = 0
  result_2 = 0
  result_3 = 0
  result_4 = 0
  result_list = []
  result = 0

  for j in i:
    if j in al:
      if j == '걷기/등산' or j == '내창트레킹' or j == '등산' or j == '트레킹' or j == '걷기'\
      or j == '지질트레일' or j == '해안산책':
        result_1 += 1
      elif j == '체험관광' or j == '체험여행' or j == '체험' or j == '농촌체험마을'\
       or j == '동물먹이주기':
        result_2 += 1
      elif j == '플라잉요가' or j == '하타요가' or j == '메디컬요가' or j == '빈야사요가'\
       or j == '요가':
        result_3 += 1
      elif j == '테마파크' or j == '테마공원' or j == '어트랙션':
        result_4 += 1
      else:
        result += 1
  
  result_list.append(result_1)
  result_list.append(result_2)
  result_list.append(result_3)
  result_list.append(result_4)

  for idx, val in enumerate(result_list):
    if idx == 3:
      result += val
    elif val > 0:
      result += 1
  activity_landleisure.append(result)

print(set(activity_landleisure))
print(len(activity_landleisure))

{0, 1, 2, 3, 4, 5}
1096

### 2-2.수상활동 activity_waterleisure

In [19]:
activity_waterleisure = []
aw = ['waterleisure', '낚시', '다이빙체험', '마린스포츠', '물놀이', '바릇잡이', '스쿠버다이빙', '스쿠버교육', 
      '수상레저', '액티비티', '수영장', '차귀도유람선', '해상레저', '해양스포츠', '해수욕장', '해변',
      '패들요가']

for i in df_2['테마']:
  result_1 = 0
  result_2 = 0
  result_3 = 0
  result_4 = 0
  result_list = []
  result = 0
  for j in i:
    if j in aw:
      if j == 'waterleisure' or j == '수상레저':
        result_1 += 1
      elif j == '마린스포츠' or j == '물놀이' or j == '수영장':
        result_2 += 1
      elif j == '스쿠버다이빙' or j == '스쿠버교육' or j == '다이빙체험':
        result_3 += 1
      elif j == '해수욕장' or j == '해변':
        result_4 += 1
      else:
        result += 1
  
  result_list.append(result_1)
  result_list.append(result_2)
  result_list.append(result_3)
  result_list.append(result_4)
  for x in result_list:
    if x>0:
      result += 1
  activity_waterleisure.append(result)

print(set(activity_waterleisure))
print(len(activity_waterleisure))

{0, 1, 2, 3, 4}
1096

### 2-3.공중활동 activity_sky

In [20]:
activity_sky = []
act_sky = '라이딩'

for i in df_2['테마']:
  if act_sky in i:
    activity_sky.append(1)
  else:
    activity_sky.append(0)

print(set(activity_sky))
print(len(activity_sky))

{0, 1}
1096

## 3.계절테마

### 3-1.봄 spring

In [21]:
spring = []
spr = ['벚꽃', '봄', '봄꽃']

for i in df_2['테마']:
  result = 0
  for j in i:
    if j in spr:
      result = 1
  spring.append(result)
print(set(spring))
print(len(spring))

{0, 1}
1096

### 3-2.여름 summer

In [22]:
summer = []
summ = '여름'

for i in df_2['테마']:
  if summ in i:
    summer.append(1)
  else:
    summer.append(0)

print(set(summer))
print(len(summer))

{0, 1}
1096

### 3-3 가을 fall

In [ ]:
fall = []
f = ['가을', '단풍']

for i in df_2['테마']:
  result = 0
  for j in i:
    if j in f:
      result = 1
  fall.append(result)
print(set(fall))
print(len(fall))

{0, 1}
1096

### 3-4 겨울 winter

In [ ]:
winter = []
win = '겨울'

for i in df_2['테마']:
  if win in i:
    winter.append(1)
  else:
    winter.append(0)

print(set(winter))
print(len(winter))

{0, 1}
1096

### 3-5 사계절 four_seasons

In [ ]:
four_seasons = []
fs = ['사게절', '사계절']

for i in df_2['테마']:
  result = 0
  for j in i:
    if j in fs:
      result = 1
  four_seasons.append(result)
print(set(four_seasons))
print(len(four_seasons))

{0, 1}
1096

## 4.연령층

### 4-1.노년 old

In [ ]:
old = []
ol = '노년'

for i in df_2['테마']:
  if ol in i:
    old.append(1)
  else:
    old.append(0)
print(set(old))
print(len(old))

{0, 1}
1096

### 4-2.어린이 children

In [ ]:
children = []
child = ['어린이', '아이']

for i in df_2['테마']:
  result = 0
  for j in i:
    if j in child:
      result = 1
  children.append(result)

print(set(children))
print(len(children))

{0, 1}
1096

### 4-3. 청년 youth

In [ ]:
youth = []
you = '청년'

for i in df_2['테마']:
  if you in i:
    youth.append(1)
  else:
    youth.append(0)

print(set(youth))
print(len(youth))

{0, 1}
1096

### 4-4.중년 middle_age

In [ ]:
middle_age = []
middle = '중/장년'

for i in df_2['테마']:
  if middle in i:
    middle_age.append(1)
  else:
    middle_age.append(0)

print(set(middle_age))
print(len(middle_age))

{0, 1}
1096

## 5.구헝원

### 5-1.가족 family

In [ ]:
family = []
fam = '가족'

for i in df_2['테마']:
  if fam in i:
    family.append(1)
  else:
    family.append(0)

print(set(family))
print(len(family))

{0, 1}
1096

### 5-2.부모 parents

In [ ]:
parents = []
par = '부모'

for i in df_2['테마']:
  if par in i:
    parents.append(1)
  else:
    parents.append(0)

print(set(parents))
print(len(parents))

{0, 1}
1096

### 5-3.커플 couple

In [ ]:
couple = []
cou = '커플'

for i in df_2['테마']:
  if cou in i:
    couple.append(1)
  else:
    couple.append(0)

print(set(couple))
print(len(couple))

{0, 1}
1096

### 5-4.친구 friend

In [ ]:
friend = []
fri = '친구'

for i in df_2['테마']:
  if fri in i:
    friend.append(1)
  else:
    friend.append(0)

print(set(friend))
print(len(friend))

{0, 1}
1096

### 5-5.혼자 alone

In [ ]:
alone = []
alo = '혼자'

for i in df_2['테마']:
  if alo in i:
    alone.append(1)
  else:
    alone.append(0)

print(set(alone))
print(len(alone))

{0, 1}
1096

## 6.장소 날림

### 6-1.계곡 valley

In [ ]:
# valley = []
# vall = '계곡'

# for i in df_2['테마']:
#   if vall in i:
#     valley.append(1)
#   else:
#     valley.append(0)

# print(set(valley))
# print(len(valley))

### 6-2.산 mountain

In [ ]:
# mountain = []
# mount = ['수월봉', '한라산']

# for i in df_2['테마']:
#   result = 0
#   for j in i:
#     if j in mount:
#       result += 1
#   mountain.append(result)

# print(set(mountain))
# print(len(mountain))

### 6-3.해변 beach

In [ ]:
# beach = []
# bea = [ '해수욕장', '해변산책', '해변']

# for i in df_2['테마']:
#   result = 0
#   for j in i:
#     if j in bea:
#       result += 1
#   beach.append(result)

# print(set(beach))
# print(len(beach))

### 6-4.공원 park

In [ ]:
# park = []
# par = ['곶자왈', '테마공원', '테마파크', '해거름마을공원']

# for i in df_2['테마']:
#   result = 0
#   for j in i:
#     if j in par:
#       result += 1
#   park.append(result)

# print(set(park))
# print(len(park))

### 6-5.온천 spa

In [ ]:
# spa = []
# sp = '노천탕'

# for i in df_2['테마']:
#   if sp in i:
#     spa.append(1)
#   else:
#     spa.append(0)

# print(set(spa))
# print(len(spa))

### 6-6.오름 oreum

In [ ]:
# oreum = []
# ore = ['금오름', '오름']

# for i in df_2['테마']:
#   result = 0
#   for j in i:
#     if j in ore:
#       result += 1
#   oreum.append(result)

# print(set(oreum))
# print(len(oreum))

### 6-7.동굴 cave

In [ ]:
# cave = []
# ca = '동굴'

# for i in df_2['테마']:
#   if ca in i:
#     cave.append(1)
#   else:
#     cave.append(0)

# print(set(cave))
# print(len(cave))

### 6-8.섬, 6-9 실내 보류
이유: 그곳에 많이 해당되는 곳이 아닌 그곳 자체를 목적지로 하기 때문

## 새로운 데이터 프레임 만들기

In [ ]:
student_card = pd.DataFrame([[20190103, 'Kim', 'H'],
                             [20190222, 'Lee', 'W'],
                             [20190531, 'Jeong', 'S']], columns = ['ID', 'name', 'class'])

In [ ]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1096 non-null   int64
 1   관광 명소       1095 non-null   object
 2   주소          1088 non-null   object
 3   테마          1096 non-null   object
dtypes: int64(1), object(3)
memory usage: 34.4+ KB

In [ ]:
df = pd.DataFrame()

In [ ]:
column_data = [history, nature, photo, walk, art, activity_landleisure, activity_waterleisure,
           activity_sky,spring,summer,fall,winter,four_seasons, old, children,youth,middle_age,
           family,parents,couple,friend,alone]
name_list = ['history', 'nature', 'photo', 'walk', 'art', 'activity_landleisure',
             'activity_waterleisure', 'activity_sky','spring','summer','fall','winter','four_seasons',
             'old', 'children', 'youth', 'middle_age', 'family','parents','couple','friend','alone']
df['관광명소'] = list(df_2['관광 명소'])
df['주소'] = list(df_2['주소'])

for i,j in zip(name_list, column_data):
  print(i)
  df[i] = j

history
nature
photo
walk
art
activity_landleisure
activity_waterleisure
activity_sky
spring
summer
fall
winter
four_seasons
old
children
youth
middle_age
family
parents
couple
friend
alone

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   관광명소                   1095 non-null   object
 1   주소                     1088 non-null   object
 2   history                1096 non-null   int64
 3   nature                 1096 non-null   int64
 4   photo                  1096 non-null   int64
 5   walk                   1096 non-null   int64
 6   art                    1096 non-null   int64
 7   activity_landleisure   1096 non-null   int64
 8   activity_waterleisure  1096 non-null   int64
 9   activity_sky           1096 non-null   int64
 10  spring                 1096 non-null   int64
 11  summer                 1096 non-null   int64
 12  fall                   1096 non-null   int64
 13  winter                 1096 non-null   int64
 14  four_seasons           1096 non-null   int64
 15  old                    1096 non-null   int64
 16  children               1096 non-null   int64
 17  youth                  1096 non-null   int64
 18  middle_age             1096 non-null   int64
 19  family                 1096 non-null   int64
 20  parents                1096 non-null   int64
 21  couple                 1096 non-null   int64
 22  friend                 1096 non-null   int64
 23  alone                  1096 non-null   int64
dtypes: int64(22), object(2)
memory usage: 205.6+ KB

In [ ]:
df.head(1)

,관광명소,주소,history,nature,photo,walk,art,activity_landleisure,activity_waterleisure,activity_sky,...,four_seasons,old,children,youth,middle_age,family,parents,couple,friend,alone
0,우도,제주특별자치도 제주시 우도면 삼양고수물길 1,0,2,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
# 697 : 제주특별자치도 제주시 조천읍 남조로 1660
# 714 : 제주특별자치도 제주시 구좌읍 구좌해안로 237
# 758 : 제주특별자치도 제주시 우도면 연평리 3
# 778 : 제주시 애월읍 봉성리 4554-20
# 791 : 제주특별자치도 서귀포시 안덕면 상천리 산22
# 843 : 제주도 서귀포시 남원읍 수망리 59
# 908 : 제주특별자치도 서귀포시 안덕면 감산리 1144
# 1018 : 추자도

In [ ]:
df.head(1)

In [ ]:
idx_list = [697, 714, 758, 778, 791, 843, 908, 1018]
name_list = ['제주특별자치도 제주시 조천읍 남조로 1660', '제주특별자치도 제주시 구좌읍 구좌해안로 237',
             '제주특별자치도 제주시 우도면 연평리 3', '제주시 애월읍 봉성리 4554-20',
             '제주특별자치도 서귀포시 안덕면 상천리 산22', '제주도 서귀포시 남원읍 수망리 59',
             '제주특별자치도 서귀포시 안덕면 감산리 1144', '추자도']

for i, v in zip(idx_list, name_list):
  df['주소'][i] = v

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 578 : 애월 바다
df['관광명소'][578] = '애월바다'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   관광명소                   1096 non-null   object
 1   주소                     1096 non-null   object
 2   history                1096 non-null   int64
 3   nature                 1096 non-null   int64
 4   photo                  1096 non-null   int64
 5   walk                   1096 non-null   int64
 6   art                    1096 non-null   int64
 7   activity_landleisure   1096 non-null   int64
 8   activity_waterleisure  1096 non-null   int64
 9   activity_sky           1096 non-null   int64
 10  spring                 1096 non-null   int64
 11  summer                 1096 non-null   int64
 12  fall                   1096 non-null   int64
 13  winter                 1096 non-null   int64
 14  four_seasons           1096 non-null   int64
 15  old                    1096 non-null   int64
 16  children               1096 non-null   int64
 17  youth                  1096 non-null   int64
 18  middle_age             1096 non-null   int64
 19  family                 1096 non-null   int64
 20  parents                1096 non-null   int64
 21  couple                 1096 non-null   int64
 22  friend                 1096 non-null   int64
 23  alone                  1096 non-null   int64
dtypes: int64(22), object(2)
memory usage: 205.6+ KB

In [ ]:
df.to_csv('jeju_train_final.csv')

## 데이터 받기

In [2]:
df = pd.read_csv('/content/drive/MyDrive/jeju/jeju_train_final.csv',index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   관광명소                   1096 non-null   object
 1   주소                     1096 non-null   object
 2   history                1096 non-null   int64
 3   nature                 1096 non-null   int64
 4   photo                  1096 non-null   int64
 5   walk                   1096 non-null   int64
 6   art                    1096 non-null   int64
 7   activity_landleisure   1096 non-null   int64
 8   activity_waterleisure  1096 non-null   int64
 9   activity_sky           1096 non-null   int64
 10  spring                 1096 non-null   int64
 11  summer                 1096 non-null   int64
 12  fall                   1096 non-null   int64
 13  winter                 1096 non-null   int64
 14  four_seasons           1096 non-null   int64
 15  old                    1096 non-null   int64
 16  children               1096 non-null   int64
 17  youth                  1096 non-null   int64
 18  middle_age             1096 non-null   int64
 19  family                 1096 non-null   int64
 20  parents                1096 non-null   int64
 21  couple                 1096 non-null   int64
 22  friend                 1096 non-null   int64
 23  alone                  1096 non-null   int64
dtypes: int64(22), object(2)
memory usage: 214.1+ KB

## 데이터 전처리

In [4]:
address_list = list(set(df['주소']))

In [5]:
address_idx = [int(i) for i in range(len(address_list))]

In [6]:
address_dict = {}
for x, y in zip(address_list, address_idx):
  address_dict[x] = y
answer_dict = {}
for x, y in zip(address_idx, address_list):
  answer_dict[x] = y

In [7]:
answer_dict[2]

'제주특별자치도 제주시 애월읍 구엄리'

In [8]:
type(address_dict['제주특별자치도 제주시 한림읍 귀덕14길 14-5'])

int

In [9]:
for idx, val in enumerate(df['주소']):
  df['주소'][idx] = address_dict[val]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df.rename(columns = {'주소':'target'},inplace=True)

In [11]:
df = df.astype({'target':'int64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   관광명소                   1096 non-null   object
 1   target                 1096 non-null   int64
 2   history                1096 non-null   int64
 3   nature                 1096 non-null   int64
 4   photo                  1096 non-null   int64
 5   walk                   1096 non-null   int64
 6   art                    1096 non-null   int64
 7   activity_landleisure   1096 non-null   int64
 8   activity_waterleisure  1096 non-null   int64
 9   activity_sky           1096 non-null   int64
 10  spring                 1096 non-null   int64
 11  summer                 1096 non-null   int64
 12  fall                   1096 non-null   int64
 13  winter                 1096 non-null   int64
 14  four_seasons           1096 non-null   int64
 15  old                    1096 non-null   int64
 16  children               1096 non-null   int64
 17  youth                  1096 non-null   int64
 18  middle_age             1096 non-null   int64
 19  family                 1096 non-null   int64
 20  parents                1096 non-null   int64
 21  couple                 1096 non-null   int64
 22  friend                 1096 non-null   int64
 23  alone                  1096 non-null   int64
dtypes: int64(23), object(1)
memory usage: 246.4+ KB

In [12]:
df.history.value_counts()

0    815
2    131
1    107
3     42
4      1
Name: history, dtype: int64

# 데이터2 보류

In [ ]:
df_weather = pd.read_csv('/content/drive/MyDrive/jeju_raw_data/제주특별자치도_주제9_제주 관광을 위한 날짜별 지역 추천 데이터_매쉬업결과_(2101_2105).csv', index_col = 0, encoding = 'cp949')

In [ ]:
df_weather.columns

Index(['시도명', '읍면동명', '평균 기온', '일강수량', '최대 풍속', '업종명', '이용금액', '데이터기준일자'], dtype='object')

In [ ]:
df_weather = df_weather.reset_index()

In [ ]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145577 entries, 0 to 145576
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   일자       145577 non-null  object
 1   시도명      145577 non-null  object
 2   읍면동명     145577 non-null  object
 3   평균 기온    145577 non-null  float64
 4   일강수량     145577 non-null  float64
 5   최대 풍속    145577 non-null  float64
 6   업종명      145577 non-null  object
 7   이용금액     145577 non-null  int64
 8   데이터기준일자  145577 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 10.0+ MB

In [ ]:
set(df_weather['읍면동명'])

{'구좌읍',
 '남원읍',
 '노형동',
 '대륜동',
 '대정읍',
 '봉개동',
 '성산읍',
 '아라동',
 '안덕면',
 '애월읍',
 '예래동',
 '외도동',
 '우도면',
 '조천읍',
 '중문동',
 '추자면',
 '표선면',
 '한림읍'}